<div class="wrapper">
    <div class="section-authentication-cover">
        <div class="row g-0">
            <div class="d-flex align-items-center px-5 py-2">
                <h1 class="fw-bold fs-4 m-0">ShopSense Seller</h1>
                <div class="ms-auto">
                    <form #_form="ngForm" (submit)="onSellerLogin(_form.value)">
                        <div class="d-flex gap-2">
                            <input class="form-control" type="email" id="email1" name="email" placeholder="Email" ngModel>
                            <input class="form-control" type="password" id="password1" name="password" ngModel placeholder="Password">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div
                class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex">
                <div class="card shadow-none bg-transparent shadow-none rounded-0 mb-0">
                    <div class="card-body">
                        <img src="./assets/images/login-images/register-cover.svg" class="img-fluid auth-img-cover-login"
                            width="450" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
                <div class="card rounded-0 m-3 shadow-none bg-transparent mb-0">
                    <div class="card-body p-sm-5">
                        <div class="">
                            <div class="text-center mb-4">
                                <h4 class="">Create an account</h4>
                            </div>
                            <div class="form-body">
                                <form #_form_reg="ngForm" (submit)="onSellerSignup(_form_reg.value)" class="row g-3">
                                    <div class="col-12">
                                        <label for="owner_name" class="form-label">Owner Name</label>
                                        <input type="text" class="form-control" id="owner_name" name="name" ngModel>
                                    </div>
                                    <div class="col-12">
                                        <label for="store_name" class="form-label">Store Name</label>
                                        <input type="text" class="form-control" id="store_name" name="storeName" ngModel>
                                    </div>
                                    <div class="col-12">
                                        <label for="address" class="form-label">Office Address</label>
                                        <input type="text" class="form-control" id="address" name="officeAddress" ngModel>
                                    </div>
                                    <div class="col-12">
                                        <label for="inputEmailAddress" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="inputEmailAddress"
                                            placeholder="jhon@example.com" name="email" ngModel>
                                    </div>
                                    <div class="col-12">
                                        <label for="inputChoosePassword" class="form-label">Password</label>
                                        <div class="input-group" id="show_hide_password">
                                            <input type="password" class="form-control border-end-0"
                                                id="inputChoosePassword" placeholder="Enter Password" name="password" ngModel>
                                            <a href="javascript:;" class="input-group-text bg-transparent"><i
                                                    class="bx bx-hide"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Sign up</button>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>