<div class="page-content">
    <h3>Order Details</h3>
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <p>Order ID: <strong>#{{order.id}}</strong></p>
                <p class="ms-auto">Placed on: <strong>{{order.orderDate}}</strong></p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Product Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of orderDetails; let i = index">
                            <td>
                                <h6 class="mb-0 font-14">{{p.productName}}</h6>
                            </td>
                            <td>{{p.productUnitPrice}}</td>
                            <td>{{p.quantity}}</td>
                            <td>{{p.subTotal}}</td>
                            <td>
                                <div [class]="p.status=='Canceled' ? 'text-danger bg-light-danger' : p.status=='Delivered' ? 'text-success bg-light-success' : 'text-primary bg-light-primary'"
                                    class="badge rounded-pill p-2 text-uppercase px-3">
                                    <i class='bx bxs-circle me-1'></i>{{p.status}}
                                </div>
                            </td>
                            <td>
                                <select #_status class="form-select" name="actions" id="actions"
                                    (change)="onStatusChange(i, _status.value)" [disabled]="p.status !='Shipped'">
                                    <option *ngIf="p.status=='Pending'" [selected]="p.status=='Pending'"
                                        value="Pending">Pending</option>
                                    <option *ngIf="p.status=='Canceled'" [selected]="p.status=='Canceled'"
                                        value="Canceled">Canceled</option>
                                    <option *ngIf="p.status=='Processing'" [selected]="p.status=='Processing'"
                                        value="Processing">Processing</option>
                                    <option *ngIf="p.status=='Shipped'" [selected]="p.status=='Shipped'"
                                        value="Shipped">Shipped</option>
                                    <option [selected]="p.status=='Delivered'" value="Delivered">Delivered</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5>Shipping Address</h5>
                    <hr>
                    <p>Address: {{order.shippingStreet}}</p>
                    <p>Post Code: {{order.shippingPostCode}}</p>
                    <p>District: {{order.shippingCity}}</p>
                    <p>Division: {{order.shippingState}}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5>Order Summary</h5>
                    <hr>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>Subotal</th>
                                <td class="text-end">৳{{order.subTotal.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <th>Shipping Charge</th>
                                <td class="text-end">৳{{order.shippingCharge.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <th>Gateway Fee</th>
                                <td class="text-end">৳{{order.gatewayFee.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <th>Tax (5%)</th>
                                <td class="text-end">৳{{order.tax.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td class="text-end">৳{{order.discount.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td class="text-end"><strong>৳{{order.orderTotal.toFixed(2)}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p>Paid by {{order.paymentMethod}}</p>
                </div>
            </div>
        </div>
    </div>
</div>