<div class="page-content">
    <h3>Products</h3>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Product Name</th>
                            <th>Unit Price</th>
                            <th>Store Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of products; let i = index">
                            <td>{{p.title}}</td>
                            <td>{{p.salePrice}}</td>
                            <td>{{p.storeName}}</td>
                            <td>
                                <div [class]="p.status=='Inactive' ? 'text-danger bg-light-danger' : p.status=='Active' ? 'text-success bg-light-success' : 'text-warning bg-light-warning'"
                                    class="badge rounded-pill p-2 text-uppercase px-3">
                                    <i class='bx bxs-circle me-1'></i>{{p.status}}
                                </div>
                            </td>
                            <td>
                                <select #_status class="form-select" name="actions" id="actions" (change)="updateProduct(p, _status.value)">
                                    <option [selected]="p.status=='Pending'" value="Pending">Pending</option>
                                    <option [selected]="p.status=='Active'" value="Active">Active</option>
                                    <option [selected]="p.status=='Inactive'" value="Inactive">Inactive</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>