<!--sidebar wrapper -->
<div class="sidebar-wrapper mybg1" data-simplebar="true">
    <div class="sidebar-header mybg1">
        <div>
            <!-- <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon"> -->
            <!-- <span class="text-danger fs-4 fw-bold">S</span> -->
        </div>
        <div>
            <a routerLink="">
                <h4 class="logo-text text-white">ShopSense</h4>
            </a>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li class="mm-active">
            <a routerLink=".">
                <div class="parent-icon"><i class='bx bx-home-alt'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li class="menu-label">Products</li>
        <li>
            <a routerLink="products">
                <div class="parent-icon"><i class='bx bx-package'></i>
                </div>
                <div class="menu-title">Products</div>
            </a>
        </li>
        <li>
            <a routerLink="categories">
                <div class="parent-icon"><i class='bx bx-category'></i>
                </div>
                <div class="menu-title">Categories</div>
            </a>
        </li>
        <li>
            <a routerLink="coupons">
                <div class="parent-icon"><i class='bx bxs-discount'></i>
                </div>
                <div class="menu-title">Coupons</div>
            </a>
        </li>
        <li class="menu-label">Seller</li>
        <li>
            <a routerLink="sellers">
                <div class="parent-icon"><i class='bx bx-user-check'></i>
                </div>
                <div class="menu-title">Sellers</div>
            </a>
        </li>
        <li>
            <a routerLink="withdraw">
                <div class="parent-icon"><i class='bx bx-wallet'></i>
                </div>
                <div class="menu-title">Withdraw</div>
            </a>
        </li>
        <li class="menu-label">Customer</li>
        <li>
            <a routerLink="customers">
                <div class="parent-icon"><i class='bx bx-street-view'></i>
                </div>
                <div class="menu-title">Customers</div>
            </a>
        </li>
        <li class="menu-label">Logistics</li>
        <li>
            <a routerLink="orders">
                <div class="parent-icon"><i class='bx bx-list-ul'></i>
                </div>
                <div class="menu-title">Orders</div>
            </a>
        </li>
        <li>
            <a routerLink="refund">
                <div class="parent-icon"><i class='bx bx-money-withdraw'></i>
                </div>
                <div class="menu-title">Refund</div>
            </a>
        </li>
        <li>
            <a routerLink="orders/shipped">
                <div class="parent-icon"><i class='bx bxs-truck'></i>
                </div>
                <div class="menu-title">Ready to Deliver</div>
            </a>
        </li>
        <li>
            <a routerLink="collection">
                <div class="parent-icon"><i class='bx bx-store-alt'></i>
                </div>
                <div class="menu-title">Collection Points</div>
            </a>
        </li>
        <li class="menu-label">Report</li>
        <li>
            <a routerLink="report">
                <div class="parent-icon"><i class='bx bx-pie-chart-alt-2'></i>
                </div>
                <div class="menu-title">Jasper Reports</div>
            </a>
        </li>
        <li>
            <a routerLink="report/sales">
                <div class="parent-icon"><i class='bx bx-pie-chart-alt-2'></i>
                </div>
                <div class="menu-title">Sales Report</div>
            </a>
        </li>
        <li class="menu-label">Account</li>
        <li (click)="onAdminLogout()">
            <a class="cursor-pointer">
                <div class="parent-icon"><i class='bx bx-log-out-circle'></i>
                </div>
                <div class="menu-title">Logout</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->
<!--start header -->
<header>
    <div class="topbar d-flex align-items-center mybg1">
        <nav class="navbar navbar-expand gap-3">
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
            </div>

            <div class="position-relative search-bar d-lg-block d-none" data-bs-toggle="modal"
                data-bs-target="#SearchModal">
                <input class="form-control px-5" disabled type="search" placeholder="Search">
                <span class="position-absolute top-50 search-show ms-3 translate-middle-y start-0 top-50 fs-5"><i
                        class='bx bx-search'></i></span>
            </div>

            <div class="top-menu ms-auto">
                <ul class="navbar-nav align-items-center gap-1">
                    <li class="nav-item mobile-search-icon d-flex d-lg-none" data-bs-toggle="modal"
                        data-bs-target="#SearchModal">
                        <a class="nav-link" href="avascript:;"><i class='bx bx-search'></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-laungauge d-none d-sm-flex">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="avascript:;"
                            data-bs-toggle="dropdown"><img src="assets/images/county/02.png" width="22" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/01.png" width="20" alt=""><span
                                        class="ms-2">English</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/02.png" width="20" alt=""><span
                                        class="ms-2">Catalan</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/03.png" width="20" alt=""><span
                                        class="ms-2">French</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/04.png" width="20" alt=""><span
                                        class="ms-2">Belize</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/05.png" width="20" alt=""><span
                                        class="ms-2">Colombia</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/06.png" width="20" alt=""><span
                                        class="ms-2">Spanish</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/07.png" width="20" alt=""><span
                                        class="ms-2">Georgian</span></a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                                        src="assets/images/county/08.png" width="20" alt=""><span
                                        class="ms-2">Hindi</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dark-mode d-none d-sm-flex">
                        <a class="nav-link dark-mode-icon" href="javascript:;"><i class='bx bx-moon'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-box dropdown px-3">
                <a class="d-flex align-items-center gap-3" routerLink=".">
                    <img src="assets/images/avatars/avatar-8.png" class="user-img" alt="user avatar">
                    <div class="user-info">
                        <p class="user-name mb-0 text-white">{{adminName}}</p>
                        <p class="designattion mb-0 text-white">ADMIN</p>
                    </div>
                </a>
            </div>
        </nav>
    </div>
</header>
<!--end header -->

<div class="page-wrapper">
    <router-outlet></router-outlet>
</div>