<div class="page-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

        <div class="col">
            <div class="card radius-10 border-start border-0 border-4 border-danger">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Revenue</p>
                            <h4 class="my-1 text-danger">{{ stat.revenue | currency: '৳':'symbol':'1.0-0'}}</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto"><i
                                class='bx bxs-wallet'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-4 border-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Profit</p>
                            <h4 class="my-1 text-success">{{ stat.profit | currency: '৳':'symbol':'1.0-0'}}</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i
                                class='bx bxs-bar-chart-alt-2'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-4 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Seller</p>
                            <h4 class="my-1 text-info">{{ stat.sellers }}</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-blues text-white ms-auto"><i
                                class='bx bxs-cart'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-4 border-warning">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Customers</p>
                            <h4 class="my-1 text-warning">{{ stat.customers }}</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-orange text-white ms-auto"><i
                                class='bx bxs-group'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->

    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <p class="font-weight-bold mb-1 text-secondary">Weekly Revenue</p>
                    <div class="d-flex align-items-center mb-4">
                        <div>
                            <h4 class="mb-0">{{ weeklyRevenue | currency: '৳':'symbol':'1.0-0'}}</h4>
                        </div>
                    </div>
                    <div class="chart-container-0">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card radius-10 w-100">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="py-1">
                            <h6 class="mb-0">Best Seller</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-container-1">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let a of stat.bestSeller"
                        class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                        {{a.storeName}}<span class="text-dark">{{a.revenue | number: '1.0-0'}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card radius-10 w-100">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="py-1">
                            <h6 class="mb-0">Order Status</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-container-1">
                        <canvas id="chart3"></canvas>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let a of stat.orderStatus"
                        class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                        {{ a.status }}<span class="text-dark">{{ a.count }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--end row-->
</div>